@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply md:flex bg-white text-zinc-950;
  }
}

@layer components {
  .Page {
    @apply pb-6 sm:pb-7 md:pb-8 mdl:pb-10 lg:pb-12 lgx:pb-14 xl:pb-16 flex flex-col gap-y-8 sm:gap-y-9 md:gap-y-10 mdl:gap-y-11 lg:gap-y-12;
  }
  .Main-Link {
    @apply underline hover:text-zinc-500 transition-colors duration-200;
  }
  .Main-Card {
    @apply p-4 flex items-center justify-center gap-x-2.5 border rounded-xl shadow-sm;
  }
}

@layer utilities {
  .Page-Title {
    @apply text-4xl md:text-5xl font-bold tracking-[-2px];
  }

  /* no-scrollbar */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* no-scrollbar */
}
