@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mdl:flex bg-white text-zinc-950;
  }
}

@layer components {
  /* Side-Bar */
  .Side-Bar-Card {
    @apply -mx-2 py-1.5 px-2 rounded-sm Main-Hover-Color;
  }
  /* Side-Bar */

  /* Pages */
  .Main-Card {
    @apply px-4 w-52 sm:w-48 lgx:w-50 xl:w-52 h-14 flex items-center justify-center text-center gap-x-2.5 border rounded-md shadow-sm hover:border-zinc-400 transition-colors;
  }
  /* Pages */
}

@layer utilities {
  .Main-Hover-Color {
    @apply hover:bg-zinc-200/70 transition-colors;
  }

  /* Side-Bar */
  .Side-Bar-Section-Layout {
    @apply flex flex-col gap-y-3.5;
  }
  .Side-Bar-Title {
    @apply text-xs text-zinc-600;
  }
  .Side-Bar-Card-List {
    @apply flex flex-col gap-y-1;
  }
  .Side-Bar-Card-Hover {
    @apply flex items-center gap-x-2 transition-all;
  }
  /* Side-Bar */

  /* Pages */
  .Page {
    @apply w-full h-full min-h-dvh max-h-dvh overflow-y-auto;
  }
  .Page-Content {
    @apply w-full max-w-[780px] mx-auto pt-18 pb-12 mdl:py-14 lg:py-18 lgx:py-22 px-6 lg:px-8 flex flex-col gap-y-8 sm:gap-y-9 md:gap-y-10 mdl:gap-y-11 lg:gap-y-12;
  }
  .Page-Title {
    @apply text-4xl lg:text-5xl text-center mdl:text-left font-bold tracking-[-2px];
  }
  .Main-Card-List {
    @apply flex flex-wrap justify-center mdl:justify-normal gap-4;
  }
  /* Pages */

  /* no-scrollbar */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* no-scrollbar */

  /* Hamburger Menu */
  .Hamburger-Menu {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .Menu-Rotate.active {
    transform: rotate(45deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: currentColor;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .Ham-Menu .top {
    stroke-dasharray: 40 160;
  }
  .Ham-Menu .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .Ham-Menu .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .Ham-Menu.active .top {
    stroke-dashoffset: -64px;
  }
  .Ham-Menu.active .middle {
    stroke-dashoffset: 0;
    transform: rotate(90deg);
  }
  .Ham-Menu.active .bottom {
    stroke-dashoffset: -64px;
  }
  /* Hamburger Menu */
}
