@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mdl:flex bg-white dark:bg-zinc-900 text-zinc-950 dark:text-zinc-200;
  }
}

@layer components {
  /* Side-Bar */
  .Side-Bar-Card {
    @apply -mx-3 px-3 py-2 rounded-md Main-Hover-Color;
  }
  /* Side-Bar */

  /* Pages */
  .Main-Card {
    @apply Main-Border-Color px-4 w-48 lgx:w-50 xl:w-52 h-14 flex items-center justify-center text-center gap-2.5 rounded-md shadow-sm;
  }
  /* Pages */
}

@layer utilities {
  .Main-Hover-Color {
    @apply hover:bg-zinc-200/70 dark:hover:bg-zinc-700 transition-colors;
  }
  .Main-Border-Color {
    @apply border dark:border-zinc-700 hover:border-zinc-400 dark:hover:border-zinc-500 transition-colors;
  }

  /* Side-Bar */
  .Side-Bar-Title {
    @apply pb-4 text-xs text-zinc-600 dark:text-zinc-400 tracking-wide;
  }
  .Side-Bar-Card-List {
    @apply flex flex-col gap-y-1;
  }
  .Side-Bar-Card-Hover {
    @apply flex items-center gap-x-3 transition-all;
  }
  /* Side-Bar */

  /* Pages */
  .Page {
    @apply w-full h-full min-h-dvh max-h-dvh overflow-y-auto;
  }
  .Page-Content {
    @apply w-full max-w-[780px] mx-auto pt-18 pb-12 mdl:py-14 lg:py-18 lgx:py-22 xl:py-30 px-6 md:px-8 mdl:px-12 flex flex-col gap-y-8 sm:gap-y-9 md:gap-y-10 mdl:gap-y-11 lg:gap-y-12;
  }
  .Page-Title {
    @apply text-4xl lg:text-5xl text-center mdl:text-left font-bold tracking-[-2px];
  }
  .Main-Card-List {
    @apply flex flex-wrap items-center mdl:items-start justify-center mdl:justify-normal gap-4 lg:gap-6;
  }
  /* Pages */
}

/* no-scrollbar */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* no-scrollbar */

/* Hamburger Menu */
.Hamburger-Menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Menu-Rotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: currentColor;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.Ham-Menu .top {
  stroke-dasharray: 40 160;
}
.Ham-Menu .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.Ham-Menu .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.Ham-Menu.active .top {
  stroke-dashoffset: -64px;
}
.Ham-Menu.active .middle {
  stroke-dashoffset: 0;
  transform: rotate(90deg);
}
.Ham-Menu.active .bottom {
  stroke-dashoffset: -64px;
}
/* Hamburger Menu */
